<div class="toolbar px-3" role="banner">
  <span>Improved Search</span>
  <div class="spacer"></div>
</div>

<div class="content" role="main">
  <div class="autocomplete-container">
    <div class="inner-container">
      <div class="search-box">
        <!-- <label for="typeahead-basic" class="mb-1 fw-bold">Search for a role:</label> -->
        <span class="search-text me-3">I want answers for a</span>
        <div class="input-search-container">
          <input id="typeahead-basic" type="text" class="form-control auto-complete-search"  placeholder="Search a role"
              [(ngModel)]="model"
              [ngbTypeahead]="search"
              [resultTemplate]="rt"
              [resultFormatter]="formatter" />
        </div>
      </div>
      <div class="search-box">
        <span class="search-text me-3">in</span>
        <div class="input-search-container">
          <input id="typeahead-basic" type="text" class="form-control"  placeholder="Search location"
              [ngbTypeahead]="citiesSearch"
              [resultTemplate]="rt"
              [resultFormatter]="formatter"/>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #rt let-r="result" let-t="term">
	<ngb-highlight [result]="r" [term]="t.split(' ')"></ngb-highlight>
</ng-template>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>